main {
    padding: 2rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

article {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 2rem;
}

article p {
    text-align: justify;
    padding: 10px 0;
}

article div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin: 2rem;
}

hr {
    display: none;
    background-color: rgb(53, 196, 72);
    height: 2px;
    border: none;
}

.add-post-btn {
    margin: 3rem 0;
    width: 50%;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 5px;
    letter-spacing: 7px;
    color: white;
    background-color: rgb(53, 196, 72);
}


@media only screen and (max-width: 880px) {
    article {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    article img {
        width: 300px;
        height: 240px;
    }
}

@media only screen and (max-width: 780px) {
    article {
        display: flex;
        flex-flow: column nowrap;
    }
}

@media only screen and (max-width: 500px) {
    main {
        padding: 10px;
    }

    article {
        margin: 10px;
    }

    article img {
        width: 100%;
    }

    article div {
        margin: 15px 0;
    }

    hr {
        display: block;
    }

    .add-post-btn {
        margin: 3rem 1rem;
        width: 90%;
    }
}

.add-post-form {
    display: none;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    height: 25rem;
    width: 60%;
    border-top: 2px solid rgb(53, 196, 72);
    border-bottom: 2px solid rgb(53, 196, 72);
    padding: 1rem 0;
}

.add-post-form input[type="text"], textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.submit-btns {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 70%;
}

input[type="submit"] {
    cursor: pointer;
    font-size: 1rem;
    border-radius: 10px;
    padding: 10px;
    letter-spacing: 1px;
    color: white;
    background-color: rgb(53, 196, 72);
}