main {
    display: flex;
    flex-flow: column nowrap;
}

.home-article-blog-preview {
    display: flex;
    flex-flow: row nowrap;
    margin: 1rem;
    justify-content: space-between;
}

.home-article {
    text-align: justify;
    width: 48%;
}

h2 {
    margin: 1rem 0;
    letter-spacing: 1px;
    font-size: 1.8rem;
    color: rgb(93, 93, 93);
}

.home-article-blog-preview p {
    margin-bottom: 1rem;
}

.blog-preview {
    width: 46%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.blog-preview h3 {
    letter-spacing: 1px;
    font-size: 1.8rem;
    color: rgb(93, 93, 93);
    margin-bottom: -2rem;
}

.blog-preview article {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    text-align: justify;
}

.blog-preview div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    width: 60%;
    margin-left: 10px;
    margin-right: 2rem;
}

.blog-preview a {
    text-decoration: none;
    color: rgb(93, 93, 93);
    letter-spacing: 1px;
}

@media only screen and (max-width: 850px) {
    .blog-preview img {
        height: 100px;
    }

    .third-dog-feature {
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    .second-dog-feature {
        display: none;
    }
}

.dog-preview {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 2rem;
    color: rgb(93, 93, 93);
    font-size: 1.2rem;
}

.featured-dogs {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.featured-dogs article {
    height: 200px;
    width: 300px;
    background-color: lightgray;
    margin-top: 1rem;
    margin-right: 2rem;
}

.featured-dogs a {
    text-decoration: none;
    color: rgb(93, 93, 93);
    letter-spacing: 1px;
    padding: 6rem 20px;
}

@media only screen and (max-width: 600px) {
    .blog-preview {
        display: none;
    }

    .dog-preview {
        display: none;
    }

    .home-article-blog-preview {
        display: block;
        width: 100%;
    }

    .home-article {
        width: 95%;
    }
}